body {
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  width: 370px;
  margin: 2% 0;
}

@media (max-width: 870px) {
  .container {
    margin: 0 5%;
  }
  .image {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .image {
    width: 100%;
  }
}
